#initial-output {
  .card-img {
    width: 8rem;
  }
  height: 27rem;
  margin-top: 1rem;
}

#lego-name {
  width: 25%;
  margin: 0.5rem auto 1rem auto;
  .init-name {
    font-weight: bolder;
    text-shadow: 2.5px 1px black;
    color: white;
  }
}

.flip {
  -webkit-perspective: 800;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
}
.flip .card {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}